---
import Button from '@/components/Button.astro';
import Faq from '@/components/Faq.astro';
import Why from '@/components/Why.astro';
import Work from '@/components/Work.astro';

import Layout from '../layouts/Layout.astro';
---

<Layout title="Buildlify | Home">
  <main class="relative h-screen">
    <div
      class="mx-auto mt-20 flex w-[95%] max-w-7xl flex-col items-center justify-center md:flex-row"
    >
      <div class="md:pr-8">
        <h1 class="mb-2 text-4xl font-bold xl:text-5xl">
          Modern Websites That Move Businesses Forward
        </h1>
        <a href="/#why"><Button text="Why Choose Us?" /></a>
      </div>

      <img
        src="/images/hero.svg"
        alt="Hero Image"
        class="w-full max-w-lg object-cover"
      />
    </div>

    <!-- <img
      src="/test.png"
      alt="test"
      class="absolute bottom-0 w-full object-cover"
    /> -->
    <Work />
    <Why />
    <Faq />
  </main>
</Layout>
