---
import Modal from './Modal';

// const links = [{ name: 'Contact Us', href: '#' }];
---

<nav>
  <div class="mx-auto mt-2 flex w-11/12 items-center justify-between">
    <img
      src="/images/logo.png"
      alt="Buildlify Logo"
      class="h-12 w-14 object-cover"
    />
    <!-- <div class="flex gap-8 last:mr-4">
      {links.map((link) => <a href={link.href}>{link.name}</a>)}
    </div> -->
    <Modal client:load />
  </div>
  <!-- <Mobile links={links} client:load /> -->
</nav>
