<section class="mx-auto mt-12 w-[98%] max-w-7xl" id="why">
  <h2 class="text-center text-3xl font-bold">Why Choose Us</h2>
  <div class="flex w-full flex-col items-center justify-center lg:flex-row">
    <div class="m-4 flex flex-[1] flex-col items-center justify-center">
      <img src="/images/why-1.svg" alt="Why Us" class="w-96" />
      <h3 class="text-2xl font-bold">Outstanding performance</h3>
      <p class="text-gray lg:w-[90%] lg:self-start lg:text-lg">
        Websites these days need to be fast. This helps your website rank better
        on google and gives your users a better experience. All our websites are
        created with technology that makes yours super fast!
      </p>
      <ul class="mt-2 list-disc self-start pl-2 lg:text-lg">
        <li>Built from scratch</li>
        <li>Optimized for speed</li>
        <li>Best experience for your users</li>
      </ul>
    </div>
    <div class="m-4 flex flex-[1] flex-col items-center justify-center">
      <img src="/images/why-2.svg" alt="Why Us" class="w-96" />
      <h3 class="text-2xl font-bold">Ultimate Design</h3>
      <p class="text-gray lg:w-[90%] lg:self-start lg:text-lg">
        Since we design our websites and don't use any templates, you are
        guaranteed that your website will both look absolutely amazing and be
        unique to your business.
      </p>
      <ul class="mt-2 list-disc self-start pl-2 lg:text-lg">
        <li>Custom made</li>
        <li>Unique style</li>
        <li>Website that fits you</li>
      </ul>
    </div>
  </div>
</section>
